In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.cluster import KMeans
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('/Users/pafumat/Downloads/AZWatch_subscribers.csv')

In [6]:
df.head()

,subscriber_id,age_group,engagement_time,engagement_frequency,subscription_status
0,14451,18-34,5.55,7,subscribed
1,18386,under 18,5.12,12,subscribed
2,12305,35 and over,4.25,4,churned
3,17546,18-34,8.54,15,subscribed
4,15399,18-34,12.12,20,subscribed

In [9]:
df.describe()

       subscriber_id  engagement_time  engagement_frequency
count    1000.000000      1000.000000           1000.000000
mean    15024.803000         6.180030              9.978000
std      2927.044957         2.757166              6.236859
min     10000.000000         0.220000              0.000000
25%     12452.500000         3.917500              5.000000
50%     15184.000000         6.000000              8.000000
75%     17481.250000         8.110000             15.000000
max     19976.000000        16.980000             45.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   subscriber_id         1000 non-null   int64
 1   age_group             1000 non-null   object
 2   engagement_time       1000 non-null   float64
 3   engagement_frequency  1000 non-null   int64
 4   subscription_status   1000 non-null   object
dtypes: float64(1), int64(2), object(2)
memory usage: 39.2+ KB